.location-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto;
    max-width: 1140px;
}

/* PRESENTATION */

.presentation {
    margin: 2vh auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.section-title_subt {
    margin-bottom: 0.8vh;
    margin-top: 2.8vh;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.section-title_loc {
    margin-top: 0;
    margin-bottom: 2vh;
    font-size: 18px;
    color: #FF6060;
}

.host-rating {
    gap: 0.7vw;
}


/* TAGLIST */

.taglist {
    margin-top: 4vh;
    display: flex;
    padding-left: 0;
}

.taglist li {
    display: flex;
    height: 85%;
    padding: 5px 30px;
    margin-right: 10px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

/* RIGHT-SECTION */

.section-right {
    /* width: 100%; */
    margin-top: 2vh;
}


.host-rating {
    display: flex;
    margin-top: 4vh;
    text-align: center;
    
}


/* DROPDOWN */

.section-dropdown{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;

}

.drop__down{
    width: calc((100% / 2) - 38px);
    margin-top: 0;
    margin-bottom: 30px;
}


@media (max-width: 1200px) {
    .location-section {
        margin: 0 30px 50px;
    }

    .taglist {
        flex-wrap: nowrap;
        gap: 10px;
}

    .taglist li {
        padding: 5px 15px;
        margin-top: -10px;
        margin-right: 0;
        font-size: 12px;
    }
}

@media (max-width: 980px) {
    .section-title_subt {
        font-size: 30px;
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
        justify-content: left;
    }

    .section-title {
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }

    .section-right {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .section-host {
        margin-top: 0;
    }

    .host-rating {
    margin-top: 0;
    text-align: center;
    }

    .host-rating img {
        width:10%;
    }

    .section-dropdown {
        flex-direction: column;
    }

    .drop__down{
        width: 100% ;
    }
    
}


@media (max-width: 479px) {

    .location-section {
        margin: 0 10px 50px;
    }

    .section-title_subt{
        margin-top: 0;
        font-size: 20px;
    }

    .section-title_loc {
        font-size: 15px;
    }

    .section-right {
        margin-top: -1vh;
    }
}

