.card-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    gap: 10px;
    background-color: #F7F7F7;
    border-radius: 25px;
    margin: 10px auto;
}

.card-list a {
    margin-top: 10px;
    width: calc((100% / 3) - 53px);
}

@media (max-width: 1200px) {

  .card-list {
    padding: 10px;
    align-items: center;
    border-radius: 10px;
  }

.card-list a {
  width: calc((100% / 2) - 90px);
  height: 255px; 
}

}



@media (max-width: 889px) {
    .card-list {
        background-color: #FFFFFF;
        flex-direction: column;
        align-items:center;
        margin: 0 auto;
    }

    .card-list a {
      height: 255px;
      margin: 10px;
    }
    
}


@media (max-width: 660px) {

    .card-list {
     margin-right: 25vw; 
  
    }
    
}


@media (max-width: 375px){

  .card-list {
      align-items: center;
      
    }
    
    .card-list a {
    border-radius: 10px;
    text-align: center;
    height: 255px;
    width: 100%;
    
    }
}
