body {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  
}

.home-frame {
  margin: 40px auto;
  max-width: 1240px;
}

@media (max-width: 375px){

  body {
      align-items: center;
      margin: 0 auto;
    }
}
