.nomatch {
 height: 100vh;

}


.nomatch h1 {
  /* 404 */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 288px;
  line-height: 142.6%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff6060;
  margin-left: 30%;
}

.nomatch p {
  /* Ooops! phrase */

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 142.6%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff6060;
  margin-left: 20%;
  margin-top: 50px;
}

.backhome {
  /* backhome phrase */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  text-align: center;
  margin-left: 40%;
  margin-top: 5%;
  color: #ff6060;
}

@media (max-width: 375px) {
  .nomatch h1 {
    font-size: 96px;
    margin-left: 27%;
    text-align: center;
  }

  .nomatch p {
    font-size: 18px;
    margin-left: 14%;
    margin-right: 14%;
  }

  .backhome {
    font-size: 14px;
    margin-left: 85px;
  }
}
