.nomatch {
  height: 100vh;
  margin: 40px auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

.nomatch h1 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  align-items: center;
  text-align: center;
  color: #ff6060;
  margin: 0 auto;
}

.nomatch p {
  /* Ooops! phrase */
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 142.6%;
  align-items: center;
  text-align: center;
  color: #ff6060;
  margin: 0 auto;
}

.backhome {
  /* backhome phrase */
  width: 100%; 
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.6%;
  align-items: center;
  text-decoration-line: underline;
  text-align: center;
  margin-top: 200px;
  color: #ff6060;
}

@media (max-width: 700px) {
  .nomatch h1 {
    margin-top: 100px;
    font-size: 180px;
  }

  .nomatch p {
    font-size: 30px;
  }

  .backhome {
    font-size: 14px;
    margin-top: 133px;
  }
}

@media (max-width: 375px) {

  .nomatch {
    max-width: 100%;
}

  .nomatch h1 {
    font-size: 96px;
    text-align: center;
  }

  .nomatch p {
    font-size: 18px;
    margin-left: 14%;
    margin-right: 14%;
  }

  .backhome {
    font-size: 14px;
  }
}
