header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 100px;
}

header nav {
  display: flex;
  gap: 60px !important;
}

nav a {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  color: #ff6060;
  text-decoration: none;
}

nav a:hover,
header a:active {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  header {
    margin: 3% 30px;
  }
}
@media (max-width: 767px) {
  header nav {
    gap: 30px !important;
  }
  header a {
    font-size: 20px;
  }
}
@media (max-width: 375px)  {
  header {
    margin: 20px;
  }

  header img {
    padding-left: 20px;
  }
  header > a {
    width: 35%;
  }
  header > a img {
    width: 100%;
  }
  header nav {
    gap: 17px !important;
    margin-right: 15px;
  }
  header nav a {
    font-size: 50%;
    text-transform: uppercase;
  }
}
