/* BANNER */
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  margin: 0 100px;
  background-size: cover;
  border-radius: 25px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.4;
  border-radius: 25px;
}

.banner h1 {
  position: absolute;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  color: white;
  z-index: 1;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

@media (max-width: 1200px) {
    .banner {
          height: 150px;
          border-radius: 10px;
          margin: 0px ;
    }

    .banner h1 {
        font-size: 30px;
    }
    .banner {
        margin: 0 30px;
    }
}

@media (max-width: 767px) {
    .banner {
    }
    .banner::before {
        border-radius: 10px;
    }
    .banner h1 {
        font-size: 24px;
    }

    .banner img {
        border-radius: 10px;
        object-fit: cover;

    }
}

@media (max-width: 375px) {
  .banner {
    max-width: 100%;
    height: 111px;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 15px;
  } 

  .banner h1 {
    width: 60vw;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    padding-left: 15px;

  } 

}
