.slider {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 415px;
    width: 100%;
    margin: 0;
}

.slider img:not(button img) {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.slider__image {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.slider img:first-of-type {
    width: 100%;
}

.slider button {
    border: none;
    background: transparent;
    padding: 0 2%;
    z-index: 10;
    cursor: pointer;
}

.btn_none {
    display: none;
}

.slider button img {
    width: 45px !important;
    height: 70px;
}


@media (max-width: 980px) {

    .slider button img {
        width: 30px !important;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .slider {
        height: 255px;
    }
}

@media (max-width: 479px) {

    .slider {
        margin-top: 20px;
    }

    .slider img:not(button img) {
    width: 335px;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
    }

    .slider button img {
        width: 15px !important;
        height: 15px;
    }

}


